body {
    font-family: 'TT Hoves';
    color: #222222;
    margin: 0;
}

section {
    padding: 0 120px;
}

.logo {
    width: 295px;
    margin-top: 37px;
}

.courseData {
    font-size: 21px;
    line-height: 140%;

    margin-top: 85px;

    display: flex;
    gap: 30px 160px;
    flex-wrap: wrap;
}

.courseData .value {
    font-weight: 700;
}   

h1 {
    font-size: 80px;
    font-family: Chava;
    line-height: 110%;

    margin: 76px 0 40px;
}

p {
    font-size: 27px;
    font-weight: 300;
    line-height: 140%;
}

.cta {
    display: flex;
    gap: 20px 30px;
    flex-wrap: wrap;
}

.primary {
    width: 328px;
    background: #6E3ABA;
    border-radius: 12px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 0;

}

.secondary {
    width: 328px;
    background: #fff;
    border-radius: 12px;
    color: #6E3ABA;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 0;

    border: 1px solid #6E3ABA;
}