body {
    font-family: 'TT Hoves';
    color: #222222;
    margin: 0;
}

section {
    padding: 0 calc(10vw - 16px);
    margin-top: 160px;
}

section:first-child {
    margin-top: 0;
}

.logo {
    width: calc(8.8vw + 182px);
    margin-top: 37px;
}

.courseData {
    font-size: calc(0.5vw + 14px);
    line-height: 140%;

    margin-top: calc(6.3vw + 4px);

    display: flex;
    gap: calc(14.4vw - 24px);
    flex-wrap: wrap;
}

.courseInfo {
    min-width: 150px;
}

.courseData .value {
    font-weight: 700;
}   

h1 {
    font-size: calc(4.2vw + 26px);
    font-family: Chava;
    line-height: 110%;

    margin: calc(3vw + 36px) 0 calc(2.2vw + 12px);
}

p {
    font-size: calc(1vw + 14px);
    font-weight: 300;
    line-height: 140%;
}

.cta {
    display: flex;
    gap: 20px 30px;
    flex-wrap: wrap;
}

.primary {
    width: 328px;
    background: #6E3ABA;
    border-radius: 12px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 0;

}

.secondary {
    width: 328px;
    background: #fff;
    border-radius: 12px;
    color: #6E3ABA;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 0;

    border: 1px solid #6E3ABA;
}

.hello {
    background-image: url('../img/html_css_js.png');
    background-repeat: no-repeat;
    background-position: top calc(4.8vw + 59px) right calc(6vw - 20px);
    background-size: calc(23.8vw + 89px);
}

.border {
    border: 2px solid black;
    padding: calc(2.6vw + 6px) calc(4.9vw + 2px);
}

h2 {
    font-size: calc(2.7vw + 24px);
    font-weight: 500;
    letter-spacing: 0.58px;
    text-transform: uppercase;
    margin: calc(1.7vw + 17px) 0;
}

.lessons {
    margin-bottom: 34px;
}

.lesson {
    font-size: calc(0.6vw + 14px);
    padding: 24px 0;
    border-bottom: 1px solid #A1A1A1;
}

.center {
    margin: 0 auto;
}